<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::div.content})}">
<head>
    <title>Bem-vindo!</title>
</head>
<body>
<div class="content">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Sistema de Gestão da Biblioteca Comunitária</h1>
            <p class="col-md-8 fs-4">Utilize a barra de navegação para gerenciar livros, usuários e empréstimos.</p>
        </div>
    </div>
</div>
</body>
</html>